<form action="/signIn" method="post">
Email:-
<input type="text" name="email">
br
hr
Password:-
<input type="text" name="pass">
br
hr
is admin
<input type="text" name="isAdmin">
br
<input type="submit">
</form>

<a href="/signup">signup</a>